#map {
  width: 100vw;
  height: 100vh;
  position: relative;

  .map__header {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    &__tools {
      #form__control {
        width: 120px;
      }

      h3 {
        margin-right: 10px;
      }
      display: flex;
      align-items: center;
    }
  }

  #popover {
    background: white;
    position: absolute;
    transform: translate(60px, 40px);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }

  #svg {
    width: 100%;
  }

  #drawer {
    transform: translateX(-10px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    background: white;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    height: min-content;
    max-height: 520 !important;
    p {
      span {
        font-style: italic;
      }
    }
  }
}

.toolbar__tools {
  & > * {
    margin: 0 10px;
  }
}

.popover {
  cursor: pointer;
}
